* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

img,
svg,
video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 44px;
  padding-bottom: 26px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #244d4d;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: #161616;
}
.nav__items li + li {
  padding-left: 50px;
}

.menu__search {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.menu__burger {
  margin-left: 30px;
  cursor: pointer;
}

.header__burger {
  display: none;
  position: relative;
  width: 33px;
  height: 23px;
  z-index: 30;
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after {
  content: "";
  display: block;
  background-color: #244d4d;
  position: absolute;
  width: 32px;
  height: 4px;
  left: 0;
  border-radius: 50px;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger-el {
  display: block;
  position: absolute;
  background-color: #244d4d;
  left: 0;
  height: 4px;
  width: 32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50px;
}

.header__burger.active .header__burger-el {
  height: 0;
}

.header__burger.active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger.active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .header {
    padding-top: 20px;
  }

  .header__menu,
.nav {
    display: none;
  }

  .header__burger {
    display: block;
  }
}
.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #154444;
}

.hero__content {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.hero__title {
  max-width: 671px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
}

.hero__subtitle {
  max-width: 488px;
  padding: 20px 0 35px;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.button {
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  line-height: 25px;
  color: #154444;
}

@media (max-width: 1024px) {
  .hero__content {
    padding-top: 70px;
    padding-left: 70px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 65px;
  }

  .hero__subtitle {
    padding: 18px 0 30px;
    font-size: 18px;
    line-height: 23px;
  }
}
@media (max-width: 768px) {
  .hero__content {
    padding-top: 50px;
  }

  .hero__title {
    font-size: 42px;
    line-height: 56px;
  }

  .hero__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .hero__content {
    padding: 49px 20px 40px;
  }

  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__img {
    padding: 0 20px;
  }
}
@media (max-width: 428px) {
  .hero__title {
    font-size: 32px;
    line-height: 42px;
  }

  .hero__subtitle {
    padding: 12px 0 30px;
    font-size: 12px;
    line-height: 17px;
  }

  .button {
    padding: 10px 32px;
    font-size: 14px;
    line-height: 20px;
  }

  .hero__img {
    -ms-flex-preferred-size: 309px;
        flex-basis: 309px;
    height: 326px;
  }
}
.trust {
  padding: 140px 0;
}

.trust__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #244d4d;
  text-align: center;
}

.trust__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.trust__items li + li {
  padding-left: 28px;
}

@media (max-width: 768px) {
  .trust {
    padding: 70px 0;
  }
}
@media (max-width: 428px) {
  .trust {
    padding: 50px 0;
  }

  .trust__title {
    font-size: 18px;
    line-height: 23px;
  }
}