.header {
    padding-top: 44px;
    padding-bottom: 26px;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #244d4d;
}

.nav {
    &__items {
        display: flex;
        font-size: 16px;
        line-height: 21px;
        color: #161616;

        & {
            li + li {
                padding-left: 50px;
            }
        }
    }
}

.menu__search {
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}

.menu__burger {
    margin-left: 30px;
    cursor: pointer;
}

.header__burger {
    display: none;
    position: relative;
    width: 33px;
    height: 23px;
    z-index: 30;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.header__burger::before,
.header__burger::after {
    content: "";
    display: block;
    background-color: #244d4d;
    position: absolute;
    width: 32px;
    height: 4px;
    left: 0;
    border-radius: 50px;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__burger-el {
    display: block;
    position: absolute;
    background-color: #244d4d;
    left: 0;
    height: 4px;
    width: 32px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
}

.header__burger.active .header__burger-el {
    height: 0;
}

.header__burger.active::before {
    top: 50%;
    transform: rotate(45deg);
}

.header__burger.active::after {
    top: 50%;
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .header__menu,
    .nav {
        display: none;
    }

    .header__burger {
        display: block;
    }
}
